#TopBar {
    height: 50px;
    background-color: rgb(30, 30, 30);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 50px;
}

#MoneyLabel {
    font-size: 20px;
    color: white;
}

.content-container {
    flex-grow: 1;
    width: 100%;
}

.content-container > TemplateContainer {
    flex-grow: 1;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
}

#MenuContainer {
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#MenuContainer > Button {
    height: 50px;
}

#PopupHost {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

Button {
    border-radius: 8px;
    color: rgb(204, 255, 0);
    background-color: rgb(15, 15, 15);
}

.unity-text-element {
}
